<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8  madeby"><p class="madeby__paragraph">Made by Tiago Correia - 2017</p></div>
      <div class="col-md-4">
        <ul class="social">
          <li class="social__item">
            <a href="https://www.freecodecamp.org/tiagocorreiaalmeida" target"_blank" class="social__item__link">
              <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="https://github.com/tiagocorreiaalmeida" target"_blank" class="social__item__link">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.linkedin.com/in/tiago-correia-072417116/" target"_blank" class="social__item__link">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="http://www.tiagoalmeidacorreia.pt" target"_blank" class="social__item__link">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>