<!doctype html>
<html lang="en">

<head>
  <title>Pinterest Clone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-default">
    <div class="container container-nav">
      <a class="navbar-brand navbar-brand-default" href="/">
        <img src="/img/brand.png" alt="brand logo">
      </a>
      <div class="justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class="navbar-nav">
            {{#if isAuthenticated}}
            <li class="nav-item">
              <a class="nav-link nav-link-default" href="/user/posts">
                <i class="fa fa-list" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-default" href="#" data-toggle="modal" data-target="#createPost">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-default" href="/auth/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link nav-link-default" href="#" data-toggle="modal" data-target="#login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {{#if isAuthenticated}}
    <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-login">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-pencil" aria-hidden="true"></i> New post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="preview">
                        <img src="" alt="post image" class="img-thumbnail">
                    </div>
                    <div class="alerts_modal"></div>
                    <form method="POST" action="/user/addpost">
                    <div class="form-group mt-3">
                        <label for="image-link">
                            <i class="fa fa-link" aria-hidden="true"></i> Image link</label>
                        <input type="text" name="link" class="form-control" id="image-link" placeholder="Enter the image link" required>
                        <small id="emailHelp" class="form-text text-muted">All the images links will be verified before uploaded.</small>
                    </div>
                    <div class="form-group">
                        <label for="description">
                            <i class="fa fa-bookmark" aria-hidden="true"></i> Post Description</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Enter the post title" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary add"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-secondary clear"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                </div>
                </form>
            </div>
        </div>
    </div>
  {{else}}
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-login">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login with:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="/auth/github" class="btn btn-dark btn-block github">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a href="/auth/twitter" class="btn btn-dark btn-block twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  </div>
  </div>