:root{
    --primary-color-1:#4a90e2;

    --primary-light-1: #ebebeb;
    --primary-light-2: #f6f6f6;

    --primary-dark-1:#666;
    --primary-dark-2:#444;
    --primary-dark-3:#363636;

    --primary-red-1:#E53A40;

    --default-color:#252525;

    --color-white: #fff;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--default-color) !important;
    background-color: var(--primary-light-2) !important;
}   

main{
    padding-top:82px;
}

button:focus,
a:focus{
    outline: none !important;
}

ul{
    margin-bottom: 0px !important;
}

.page-title{
    color:var( --primary-dark-1);
    font-size: 1.4rem;
    font-weight: 700;
}

/* //////////////////////////////////// */
/* Utils */
.uppercase{
    text-transform: uppercase;
}

/* //////////////////////////////////// */
/* Navbar */
.navbar-default{ 
    background-color: var(--color-white) !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.1);
    padding: 4px 12px;
}

.navbar-brand.navbar-brand-default img{
    max-height: 65px;
}

.nav-link.nav-link-default{
    color: var(--primary-dark-2) !important;
    font-size: 1.4rem;
    font-weight: 700;
    
}

/* //////////////////////////////////// */
/* Modal */
.modal-content-login{
    max-width:400px;
    background-color: var(--color-white);
}

.github{
    font-size:1.2rem;
    padding:10px 0;
    background-color:#323941;
    border:none;
}

.github:hover{
    background-color: #2b3137;
}   

.twitter{
    font-size:1.2rem;
    padding:10px 0;
    background-color:#00aced;
    border:none;
}

.twitter:hover{
    background-color:#00a0dc;
}

/* //////////////////////////////////// */
/* ADD POST */
.preview{
    display: none;
}

/* //////////////////////////////////// */
/* CARDS */
.post{
    border:none;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,.15);
    margin-bottom: 25px;
}
.card-body{
   background-color: var(--color-white);
}

.card__top{
    position: relative;
}
.card-img-top {
    min-height: 100px;
    border-radius: 0;
}

.thumbUp{
    position: absolute;
    bottom:8px;
    right:10px;
    cursor:pointer;
    background-color: var(--primary-red-1);
    width: 42px;
    height: 42px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbUp:hover{
    background-color: var(--color-white);
}

.thumbUp:hover i{
    color: var(--primary-red-1);
}

.thumbUp i{
    color:var(--color-white);
    font-size:1.5rem;
}

.likes{
    display: block;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    color:var(--primary-color-1);
}

.user{
    margin-bottom: 8px;
    display: block;
    color:var( --primary-dark-1);
    text-decoration: none;
}

.user:hover{
    text-decoration: none;
    color:var(--primary-dark-2);
}

.card-footer{
    font-size: 1.4rem;
    color:var(--primary-color-1);
    background-color:var(--color-white);
    padding: 5px 0px;
   
}

.card-footer:hover{
    color:var(--color-white);
    background-color:var(--primary-color-1);
}

.card-title{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

/* //////////////////////////////////// */
/* FOOTER */
footer{
    margin-top:5rem;
    padding: .4rem 0;
    background-color: var(--primary-dark-3);
}

footer .container{
    padding: .8rem 0;
}

.madeby{
    margin:0;
    display: flex;
    align-items: center;
}

.madeby__paragraph{
    font-size: .9rem;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 0;
}

.social{
    display: flex;
}

.social__item{
    margin-right: 10px;
    list-style: none;
}

.social__item__link{    
    display: flex;
    font-size: 1.1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var(--color-white);
}

.social__item__link:hover{
    text-decoration: none;
    background-color: var(--color-white);
    color: var(--primary-dark-3);
}

/* //////////////////////////////////// */
/* RESPONSIVE */
@media only screen and (max-width:991px){
    ul.navbar-nav{
        flex-direction: row;
    }
    
    ul.navbar-nav li:not(:last-child){
        margin-right:15px;
    }
    .page-title{
        font-size:1.3rem;
    }

}

@media only screen and (max-width:767px){
    .madeby{
        margin-bottom:20px;
        justify-content: center;
    }
    .social{
        padding-left: 0;
        display:flex;
        justify-content: center;
    }
}
