:root{
    --primary-color-1:#EACE49;
    --primary-color-2:#fefefe;

    --primary-dark-1:#284B63;

    --primary-light-1: #f6f6f6;

    --primary-red-1:#E53A40;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--default-font-color) !important;
    background-color: var(--primary-light-1) !important;
}   

main{
    padding-top:78px;
}

button:focus,
a:focus{
    outline: none !important;
}

/* //////////////////////////////////// */
/* Navbar */
.navbar-default{ 
    background-color: var(--primary-color-2) !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.1);
    padding: 4px 12px;
}

.navbar-brand.navbar-brand-default img{
    max-height: 65px;
}

.nav-link.nav-link-default{
    color: var(--primary-dark-1) !important;
    font-size: 1.4rem;
    font-weight: 700;
    
}

/* //////////////////////////////////// */
/* Modal */
.modal-content-login{
    max-width:400px;
    background-color: var(--primary-color-2);
}

.github{
    font-size:1.2rem;
    padding:10px 0;
    background-color:#323941;
    border:none;
}

.github:hover{
    background-color: #2b3137;
}   

.twitter{
    font-size:1.2rem;
    padding:10px 0;
    background-color:#00aced;
    border:none;
}

.twitter:hover{
    background-color:#00a0dc;
}

/* //////////////////////////////////// */
/* Posts */
.post{
    border:none;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,.15);
}

/* //////////////////////////////////// */
/* ADD POST */
.preview{
    display: none;
}

/* //////////////////////////////////// */
/* CARDS */
.card-body{
   background-color: var(--primary-color-2);
}

.card__top{
    position: relative;
}
.card-img-top {
    min-height: 150px;
    border-radius: 0;
}

.thumbUp{
    position: absolute;
    bottom:8px;
    right:10px;
    cursor:pointer;
    background-color: var(--primary-red-1);
    width: 42px;
    height: 42px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbUp:hover{
    background-color: var(--primary-color-2);
}

.thumbUp:hover i{
    color: var(--primary-red-1);
}

.thumbUp i{
    color:var(--primary-color-2);
    font-size:1.5rem;
}

.likes{
    display: block;
    text-transform: uppercase;
    font-size: .9rem;
    color:#0F7173;
}

.user{
    margin-bottom: 8px;
    display: block;
}

.card-footer{
    font-size: 1.4rem;
    color:orangered;
    background-color:var(--primary-color-2);
    padding: 5px 0px;
   
}

.card-footer:hover{
    color:var(--primary-color-2);
    background-color:orangered;
}


/* //////////////////////////////////// */
/* RESPONSIVE */
@media only screen and (max-width:991px){
    ul.navbar-nav{
        flex-direction: row;
    }
    
    ul.navbar-nav li:not(:last-child){
        margin-right:15px;
    }
}
